@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}

.svg {
    animation: rotate 2s infinite;
}

.blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
    backdrop-filter: blur(12vmax);
}


.loader {
    transition: background-color 0.5s ease;
    transition: opacity 1s ease-in-out;
}