.p {
    font-size: 16px;
    font-weight: 300;
    color: whiteCustom;

    padding: 12px 24px;
    background: linear-gradient(to right, rgba(103, 43, 229, 1), rgba(0, 103, 255, 1), rgba(131, 181, 255, 1));
    border-radius: 32px;
}