$firstColor: rgba(103, 43, 229, 1);
$secondColor: rgba(0, 103, 255, 1);
$thirdColor: rgba(131, 181, 255, 1);

.gradient {
    animation: gradient-animation 2s linear infinite;
    background: linear-gradient(
        to right,
        $firstColor,
        $secondColor,
        $thirdColor,
        $firstColor
    );
    background-size: 200%;

    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;

    white-space: nowrap;


}

@keyframes gradient-animation {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}